<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @requester.name %>さん、

    <p>
      あなたが依頼した頼みごとが、<%= @assistant.name %>さんによって引受けられました！
    </p>

  </body>
</html>
