<div class="main tasks-index">
  <div class="container">
    <% @tasks.each do |task|  %>
      <div class="tasks-index-item">
        <p>◯依頼内容</p>
        <%= task.title %>
        <p>◯報酬</p>
        <%= task.compensation %>
        <p>◯受託受付終了日</p>
        <%= task.reception_deadline %>
        <p>   </p>
        <%= link_to("/tasks/#{task.id}") do %>
          <input type="submit" value="詳細表示">
        <% end %>

      </div>
    <% end %>
  </div>
</div>
