<div class="main top-main">
  <div class="top-message">
    <h1>頼みごとの依頼が完了しました！</h1>
    <h1>受託された場合はメールが届きます！</h1>
    <%= link_to("/tasks/new") do %>
      <input type="submit" value="さらに依頼">
    <% end %>

  </div>
</div>
